.link--hover {
  .line {
    position: relative;
    transition: 0.2s all ease-in-out;
    &::before {
      margin-bottom: 5px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 0%;
      background-color: #000;
      height: 2px;
      width: 0;
    }
  }
  &:hover {
    .line {
      &::before {
        animation: slide-one 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
      &::after {
        width: 80%;
        animation: slide-two 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
      }
    }
  }
}

@keyframes slide-one {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes slide-two {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
